.alert {
    font-size: 1.2rem;
    padding-top: 1.2rem;
    padding-left: 1rem;
    padding-bottom: 1.2rem;
    padding-right: 1rem;
    border: none;
    color: $color-white;
    border-radius: 5px;
    outline-width: 0;
    display: flex;

    &--primary {
        background-color: $color-dark-blue;
    }

    &--success {
        background-color: $color-dark-green;
    }

    &--danger {
        background-color: $color-dark-red;
    }
}