.app-header {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    height: 7rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-bottom: 1px solid $color-dark-gray;
    user-select: none;
    
    &__title {
        font-size: 1.8rem;
    }
}