.auth {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: inherit;

    &__content {
        background-color: $color-dark-gray;
        width: 30rem;
        padding: 2rem;
        border-radius: 1rem;
    }

    &__icon {
        font-size: 3.5rem;
        font-weight: 700;
        color: $color-white;
    }

    &__welcome {
        font-size: 2.8rem;
        color: $color-white;
        padding-top: 2rem;
        font-weight: initial;
    }

    &__sub-welcome {
        color: $color-light-blue;
        padding-bottom: 2rem;
        font-weight: initial;
    }

    &__btn {
        width: 100%;
        text-transform: uppercase;
        font-weight: 700;
    }
}