.btn {
    font-size: 1.2rem;
    padding-top: 1.2rem;
    padding-left: 1rem;
    padding-bottom: 1.2rem;
    padding-right: 1rem;
    border: none;
    color: $color-white;
    border-radius: 5px;
    outline-width: 0;
    display: flex;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;

    &--dark {
        background-color: $color-dark-gray;

        &:hover {
            background-color: $color-light-gray;
        }
    }

    &--primary {
        background-color: $color-dark-blue;

        &:hover {
            background-color: $color-light-blue;
        }
    }

    &--success {
        background-color: $color-dark-green;

        &:hover {
            background-color: $color-light-green;
        }
    }

    &--danger {
        background-color: $color-dark-red;

        &:hover {
            background-color: $color-light-red;
        }
    }
}