.checkbox-field {
    width: 100%;
    background-color: $color-white;
    margin-bottom: 1rem;
    border-radius: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3.7rem;
    color: $color-light-gray;
    font-size: 1.2rem;
    font-weight: 700;

    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;

    &:hover input ~ &__checkmark {
        background-color: $color-dark-blue;
    }

    &__input:checked ~ &__checkmark {
        background-color: $color-dark-blue;
    }

    &__input:checked ~ &__checkmark:after {
        display: block;
    }

    &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__checkmark {
        position: absolute;
        top: .5rem;
        left: 0.7rem;
        height: 2.5rem;
        width: 2.5rem;
        background-color: $color-bgcolor;
        border-radius: 5px;

        &:after {
            content: "";
            position: absolute;
            display: none;

            left: 1rem;
            top: .7rem;
            width: .5rem;
            height: 1rem;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }
}