.file-uploader {
    width: auto;
    height: 10rem;
    position: relative;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid $color-dark-gray;

    &__btn {
        width: 10rem;
        height: 10rem;
        border: none;
        background: $color-light-gray;
        color: $color-white;
    }

    &__img {
        height: 10rem;
    }

    &__input {
        width: 10rem;
        height: 10rem;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}