.form-submit {
    display: flex;
    justify-content: space-between;
    
    &__btn {
        width: 100%;
        text-transform: uppercase;
        font-weight: 700;
        
        &:first-child {
            margin-right: .5rem;
        }
        
        &:last-child {
            margin-left: .5rem;
        }
    }
}