.form-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &__right {
        display: flex;

        &:first-child {
            margin-right: .5rem;
        }

        &:last-child {
            margin-left: .5rem;
        }

        &__btn {
            &:first-child {
                margin-right: .5rem;
            }

            &:last-child {
                margin-left: .5rem;
            }
        }
    }

}