.gallery-filler {
    padding-bottom: 1rem;

    &__head {
        background-color: $color-white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-bottom: .2rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        justify-content: space-between;
        align-items: center;
        display: flex;

        .image-counter {
            font-size: 1.2rem;
            color: $color-light-gray;
            font-weight: 700;
            text-transform: uppercase;
            display: flex;

            &__number {
                margin-left: .2rem;
                background-color: $color-dark-blue;
                width: 2rem;
                height: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                color: $color-white;
            }
        }
    }

    &__item {
        background-color: $color-white;
        margin-bottom: .2rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    &__item:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}