.list-item {
    background-color: $color-white;
    padding: 0.75rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &--inline {
        display: inline-block;
    }
    
    &--text {
        margin-top: auto;
        margin-bottom: auto;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: $color-light-gray;
        font-weight: 700;
    }
}