.nav {
    padding-top: 1.2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    height: 100vh;
    border-right-width: 2px;
    border-color: $color-dark-gray;
    background-color: $color-dark-gray;

    &__item {
        font-size: 1.2rem;
        padding-top: 1.2rem;
        padding-left: 1rem;
        padding-bottom: 1.2rem;
        padding-right: 1rem;
        align-items: center;
        display: flex;
        text-decoration: none;
        
        &__icon {
            width: 2rem;
            color: $color-white;
            fill: currentColor;
            height: 2rem;
            display: block;
        }
        
        &__label {
            color: $color-white;
            letter-spacing: 0.025em;
            padding-left: 0.75rem;
        }
        
        &:hover {
            background-color: $color-light-gray;
            border-radius: 5px;
        }
    }
}