.popup-background {
    position: absolute;
    background-color: rgba($color-light-gray, 0.5);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 998;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: $color-light-gray;
    border-radius: 5px;
    z-index: 999;
    margin-right: 2.5rem;
    color: $color-white;
    font-size: 1.4rem;

    &--header {
        
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        &__primary {
            background-color: $color-light-blue;
            border: 2px solid $color-dark-blue;
        }

        &__success {
            background-color: $color-light-green;
            border: 2px solid $color-dark-green;
        }

        &__danger {
            background-color: $color-light-red;
            border: 2px solid $color-dark-red;
        }
    }

    &--icon {
        display: inline-block;
        width: 4rem;
        height: 4rem;
        text-align: center;

        &__primary {
            background-color: $color-dark-blue;
        }

        &__success {
            background-color: $color-dark-green;
        }

        &__danger {
            background-color: $color-dark-red;
        }
    }

    &--header-text {
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 700;
    }

    &--body {
        padding: 1.2rem;
    }

    &__btn-field {
        padding-top: 1rem;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
}