.read-only-field {
    position: relative;
    margin-bottom: 1rem;
    
    &__label {
        position: absolute;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: $color-light-gray;
        padding-left: 0.75rem;
        padding-top: 0.8rem;
        font-weight: 700;
    }
    
    &__value {
        width: 100%;
        border: none;
        color: $color-dark-gray;
        padding-left: 0.75rem;
        border-radius: 5px;
        padding-top: 2.6rem;
        padding-bottom: 0.9rem;
        background-color: $color-white;
        line-height: inherit;
        font-size: 1.2rem;
        border-bottom: 2px solid $color-white;
        outline-width: 0;
    }
}