.user-circle {
    width: 4rem;
    height: 4rem;
    background-color: $color-light-gray;
    color: $color-white;
    font-size: 1.8rem;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    border-radius: 9999px;
}