.view-button {
    width: 4rem;
    height: 4rem;
    background-color: $color-dark-blue;
    border-radius: 9999px;
    padding: .6rem;

    &:hover {
        background-color: $color-light-blue;
    }

    &--icon {
        fill: $color-white;
        width: 2.5rem;
        height: 2.5rem;
    }
}