*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  box-sizing: border-box;
  background-color: #ebedee;
}

.alert {
  font-size: 1.2rem;
  padding-top: 1.2rem;
  padding-left: 1rem;
  padding-bottom: 1.2rem;
  padding-right: 1rem;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  outline-width: 0;
  display: -webkit-box;
  display: flex;
}
.alert--primary {
  background-color: #39b7ac;
}
.alert--success {
  background-color: #99c262;
}
.alert--danger {
  background-color: #e46054;
}

.app-header {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  height: 7rem;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  border-bottom: 1px solid #3f4a58;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.app-header__title {
  font-size: 1.8rem;
}

.auth {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  box-sizing: inherit;
}
.auth__content {
  background-color: #3f4a58;
  width: 30rem;
  padding: 2rem;
  border-radius: 1rem;
}
.auth__icon {
  font-size: 3.5rem;
  font-weight: 700;
  color: #ffffff;
}
.auth__welcome {
  font-size: 2.8rem;
  color: #ffffff;
  padding-top: 2rem;
  font-weight: initial;
}
.auth__sub-welcome {
  color: #41cac0;
  padding-bottom: 2rem;
  font-weight: initial;
}
.auth__btn {
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  display: -webkit-box;
  display: flex;
  overflow-y: hidden;
  height: 100vh;
  -webkit-box-flex: 1;
          flex: 1 1 0%;
}

.btn {
  font-size: 1.2rem;
  padding-top: 1.2rem;
  padding-left: 1rem;
  padding-bottom: 1.2rem;
  padding-right: 1rem;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  outline-width: 0;
  display: -webkit-box;
  display: flex;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
.btn--dark {
  background-color: #3f4a58;
}
.btn--dark:hover {
  background-color: #46515f;
}
.btn--primary {
  background-color: #39b7ac;
}
.btn--primary:hover {
  background-color: #41cac0;
}
.btn--success {
  background-color: #99c262;
}
.btn--success:hover {
  background-color: #a9d96c;
}
.btn--danger {
  background-color: #e46054;
}
.btn--danger:hover {
  background-color: #ff6d60;
}

.checkbox-field {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3.7rem;
  color: #46515f;
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox-field:hover input ~ .checkbox-field__checkmark {
  background-color: #39b7ac;
}
.checkbox-field__input:checked ~ .checkbox-field__checkmark {
  background-color: #39b7ac;
}
.checkbox-field__input:checked ~ .checkbox-field__checkmark:after {
  display: block;
}
.checkbox-field__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-field__checkmark {
  position: absolute;
  top: 0.5rem;
  left: 0.7rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #ebedee;
  border-radius: 5px;
}
.checkbox-field__checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 1rem;
  top: 0.7rem;
  width: 0.5rem;
  height: 1rem;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.delete-button {
  width: 4rem;
  height: 4rem;
  background-color: #e46054;
  border-radius: 9999px;
  padding: 0.7rem;
}
.delete-button:hover {
  background-color: #ff6d60;
}
.delete-button--icon {
  fill: #ffffff;
  width: 2.5rem;
  height: 2.5rem;
}

.file-uploader {
  width: auto;
  height: 10rem;
  position: relative;
  overflow: hidden;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid #3f4a58;
}
.file-uploader__btn {
  width: 10rem;
  height: 10rem;
  border: none;
  background: #46515f;
  color: #ffffff;
}
.file-uploader__img {
  height: 10rem;
}
.file-uploader__input {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.form-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}
.form-header__right {
  display: -webkit-box;
  display: flex;
}
.form-header__right:first-child {
  margin-right: 0.5rem;
}
.form-header__right:last-child {
  margin-left: 0.5rem;
}
.form-header__right__btn:first-child {
  margin-right: 0.5rem;
}
.form-header__right__btn:last-child {
  margin-left: 0.5rem;
}

.form-submit {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.form-submit__btn {
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}
.form-submit__btn:first-child {
  margin-right: 0.5rem;
}
.form-submit__btn:last-child {
  margin-left: 0.5rem;
}

.gallery-filler {
  padding-bottom: 1rem;
}
.gallery-filler__head {
  background-color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0.2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
}
.gallery-filler__head .image-counter {
  font-size: 1.2rem;
  color: #46515f;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: flex;
}
.gallery-filler__head .image-counter__number {
  margin-left: 0.2rem;
  background-color: #39b7ac;
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  border-radius: 5px;
  color: #ffffff;
}
.gallery-filler__item {
  background-color: #ffffff;
  margin-bottom: 0.2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
}
.gallery-filler__item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input-field {
  position: relative;
  margin-bottom: 1rem;
}
.input-field__label {
  position: absolute;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #46515f;
  padding-left: 0.75rem;
  padding-top: 0.8rem;
  font-weight: 700;
}
.input-field__input {
  width: 100%;
  border: none;
  color: #3f4a58;
  padding-left: 0.75rem;
  border-radius: 5px;
  padding-top: 2.6rem;
  padding-bottom: 0.9rem;
  background-color: #ffffff;
  line-height: inherit;
  font-size: 1.2rem;
  border-bottom: 2px solid #ffffff;
  outline-width: 0;
}
.input-field__input::-webkit-outer-spin-button, .input-field__input__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-field__input[type=number] {
  -moz-appearance: textfield;
}
.input-field__input:hover, .input-field__input:focus {
  border-bottom: 2px solid #39b7ac;
}
.input-field .error-field {
  border-bottom: 2px solid #e46054;
}

.list-item {
  background-color: #ffffff;
  padding: 0.75rem;
  border-radius: 5px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}
.list-item--inline {
  display: inline-block;
}
.list-item--text {
  margin-top: auto;
  margin-bottom: auto;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #46515f;
  font-weight: 700;
}

.nav {
  padding-top: 1.2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  height: 100vh;
  border-right-width: 2px;
  border-color: #3f4a58;
  background-color: #3f4a58;
}
.nav__item {
  font-size: 1.2rem;
  padding-top: 1.2rem;
  padding-left: 1rem;
  padding-bottom: 1.2rem;
  padding-right: 1rem;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  text-decoration: none;
}
.nav__item__icon {
  width: 2rem;
  color: #ffffff;
  fill: currentColor;
  height: 2rem;
  display: block;
}
.nav__item__label {
  color: #ffffff;
  letter-spacing: 0.025em;
  padding-left: 0.75rem;
}
.nav__item:hover {
  background-color: #46515f;
  border-radius: 5px;
}

.popup-background {
  position: absolute;
  background-color: rgba(70, 81, 95, 0.5);
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 998;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #46515f;
  border-radius: 5px;
  z-index: 999;
  margin-right: 2.5rem;
  color: #ffffff;
  font-size: 1.4rem;
}
.popup--header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.popup--header__primary {
  background-color: #41cac0;
  border: 2px solid #39b7ac;
}
.popup--header__success {
  background-color: #a9d96c;
  border: 2px solid #99c262;
}
.popup--header__danger {
  background-color: #ff6d60;
  border: 2px solid #e46054;
}
.popup--icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  text-align: center;
}
.popup--icon__primary {
  background-color: #39b7ac;
}
.popup--icon__success {
  background-color: #99c262;
}
.popup--icon__danger {
  background-color: #e46054;
}
.popup--header-text {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}
.popup--body {
  padding: 1.2rem;
}
.popup__btn-field {
  padding-top: 1rem;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
}

.read-only-field {
  position: relative;
  margin-bottom: 1rem;
}
.read-only-field__label {
  position: absolute;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #46515f;
  padding-left: 0.75rem;
  padding-top: 0.8rem;
  font-weight: 700;
}
.read-only-field__value {
  width: 100%;
  border: none;
  color: #3f4a58;
  padding-left: 0.75rem;
  border-radius: 5px;
  padding-top: 2.6rem;
  padding-bottom: 0.9rem;
  background-color: #ffffff;
  line-height: inherit;
  font-size: 1.2rem;
  border-bottom: 2px solid #ffffff;
  outline-width: 0;
}

.screen {
  height: 100vh;
  display: -webkit-box;
  display: flex;
}

.textarea-field {
  position: relative;
  margin-bottom: 0.7rem;
}
.textarea-field__label {
  position: absolute;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #46515f;
  padding-left: 0.75rem;
  padding-top: 0.8rem;
  font-weight: 700;
}
.textarea-field__input {
  width: 100%;
  border: none;
  color: #3f4a58;
  padding-left: 0.75rem;
  border-radius: 5px;
  padding-top: 2.6rem;
  padding-bottom: 0.9rem;
  background-color: #ffffff;
  line-height: inherit;
  font-size: 1.2rem;
  border-bottom: 2px solid #ffffff;
  font-family: inherit;
  resize: none;
  outline-width: 0;
}
.textarea-field__input:hover, .textarea-field__input:focus {
  border-bottom: 2px solid #39b7ac;
}

.user-circle {
  width: 4rem;
  height: 4rem;
  background-color: #46515f;
  color: #ffffff;
  font-size: 1.8rem;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 0.8rem;
  border-radius: 9999px;
}

.view {
  width: 100%;
  padding: 2.5rem;
  overflow-y: auto;
}

.view-button {
  width: 4rem;
  height: 4rem;
  background-color: #39b7ac;
  border-radius: 9999px;
  padding: 0.6rem;
}
.view-button:hover {
  background-color: #41cac0;
}
.view-button--icon {
  fill: #ffffff;
  width: 2.5rem;
  height: 2.5rem;
}