<template>
    <div class="body">
        <div class="view" v-if="loading">Loading...</div>
        <div class="view" v-else>
            <div class="form-header">
                <button class="btn btn--dark" @click="$router.back()">< Vissza</button>
                <div class="form-header__right">
                    <router-link :to="contact.contact_id + '/edit'" class="btn btn--primary form-header__right__btn">Szerkesztés</router-link>
                    <button class="btn btn--danger form-header__right__btn" @click="modal = !modal">Törlés</button>
                    
                    <div v-if="modal" class="popup">
                        <p>Tényleg törölni szeretné?</p>
                        <div class="popup__btn-field">
                        <button class="btn btn--danger form-header__right__btn" @click="destroy">Törlés</button>
                        <button class="btn btn--primary form-header__right__btn" @click="modal = !modal">Mégse</button>
                        </div>
                    </div>
                </div>
            </div>
            <read-only-field label="Felhasználó neve" :value="contact.name" />
            <read-only-field label="E-mail" :value="contact.email" />
            <read-only-field label="Születési dátum" :value="contact.birthday" />
        </div>
    </div>
</template>

<script>
    import ReadOnlyField from '../components/ReadOnlyField';

    export default {
        name: 'ContactsShow',
        
        data() {
            return {
                loading: true,
                modal: false,
                contact: null
            };
        },
        
        mounted() {
            axios.get('/api/contacts/' + this.$route.params.id)
                .then(response => {
                    this.contact = response.data.data;
                    this.loading = false;
                }).catch(errors => {
                    if (errors.response.status == 404) {
                        this.loading = false;
                        this.$router.push('/xira/contacts');
                    }
                });
        },
      
        methods: {
            destroy() {  
                axios.delete('/api/contacts/' + this.$route.params.id)
                    .then(response => {
                        this.$router.push('/xira/contacts');
                    }).catch(errors => {
                        error('Nem sikerült törölni.');
                    });
            } 
        },
        
        components: {
            ReadOnlyField
        }
    };
</script>

<style scoped>
</style>