<template>
    <div class="body">
        <div class="view">
            <form @submit.prevent="submitForm">
                <input-field name="name" type="text" label="Felhasználó neve" placeholder="Teszt Név" :errors="errors" @update:field="form.name = $event" />
                <input-field name="email" type="text" label="E-mail" placeholder="email@email.hu" :errors="errors" @update:field="form.email = $event" />
                <input-field name="birthday" type="text" label="Születési dátum" placeholder="ÉÉÉÉ-HH-NN" :errors="errors" @update:field="form.birthday = $event" />
                <checkbox-field name="admin" label="Adminisztrátor" />
                <div class="form-submit">
                    <button class="form-submit__btn btn btn--primary">Mentés</button>
                    <button class="form-submit__btn btn btn--danger">Mégse</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import CheckboxField from '../components/CheckboxField';
    import InputField from '../components/InputField';

    export default {
        name: 'ContactsCreate',

        data() {
            return {
                form: {
                    'name': '',
                    'email': '',
                    'birthday': '',
                },
                
                errors: null,
            };
        },

        methods: {
            submitForm() {
                axios.post('/api/contacts', this.form)
                        .then(response => {
                            this.$router.push(response.data.links.self);
                        }).catch(errors => {
                            this.errors = errors.response.data.errors;
                        });
            }
        },

        components: {
            CheckboxField,
            InputField
        }
    };
</script>

<style scoped>
</style>