<template>
    <div class="body">
        <div class="view">
            <div class="form-header">
                <button class="btn btn--dark" @click="$router.back()">< Vissza</button>
            </div>
            <form @submit.prevent="submitForm">
                <input-field name="name" type="text" label="Felhasználó neve" placeholder="Teszt Név" :errors="errors" @update:field="form.name = $event" :data="form.name"/>
                <input-field name="email" type="text" label="E-mail" placeholder="email@email.hu" :errors="errors" @update:field="form.email = $event" :data="form.email"/>
                <input-field name="birthday" type="text" label="Születési dátum" placeholder="ÉÉÉÉ-HH-NN" :errors="errors" @update:field="form.birthday = $event" :data="form.birthday"/>
                <checkbox-field name="admin" label="Adminisztrátor" @update:field="form.admin = $event" :data="form.admin"/>
                <div class="form-submit">
                    <button class="form-submit__btn btn btn--primary">Mentés</button>
                    <button class="form-submit__btn btn btn--danger">Mégse</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import CheckboxField from '../components/CheckboxField';
    import InputField from '../components/InputField';

    export default {
        name: 'ContactsEdit',

        data() {
            return {
                form: {
                    'name': '',
                    'email': '',
                    'birthday': '',
                    'admin': 0
                },
                
                errors: null,
            };
        },
        
        mounted() {
            axios.get('/api/contacts/' + this.$route.params.id)
                .then(response => {
                    this.form = response.data.data;
                    this.loading = false;
                }).catch(errors => {
                    if (errors.response.status == 404) {
                        this.loading = false;
                        this.$router.push('/xira/contacts');
                    }
                });
        },

        methods: {
            submitForm() {
                axios.patch('/api/contacts/' + this.$route.params.id, this.form)
                        .then(response => {
                            this.$router.push(response.data.links.self);
                        }).catch(errors => {
                            this.errors = errors.response.data.errors;
                        });
            }
        },

        components: {
            CheckboxField,
            InputField
        }
    };
</script>

<style scoped>
</style>