<template>
    <div class="body">
        <div class="view" v-if="loading">Loading...</div>
        <div class="view" v-else>
            <div class="form-header">
                <button class="btn btn--dark" @click="$router.back()">< Vissza</button>
                <div class="form-header__right">
                    <router-link :to="{ name: 'contactsCreate' }" class="btn btn--primary">Új kapcsolat</router-link>
                </div>
            </div>

            <contact-item v-for="contact in contacts" :contact="contact.data" :key="contact.data.contact_id" />
        </div>
    </div>
</template>

<script>
    import ContactItem from '../components/ContactItem';

    export default {
        name: 'ContactsIndex',
        
        mounted() {
            axios.get('/api/contacts/')
                .then(response => {
                    this.contacts = response.data.data;
                    this.loading = false;
                }).catch(errors => {
                    this.loading = false;
                    alert('Unable to fetch contacts.');
                });
        },
        
        data() {
            return {
                loading: true,
                contacts: null
            };
        },
        
        components: {
            ContactItem
        }
    };
</script>

<style scoped>
</style>