<template>
    <div class="body">
        <div class="view">
            <form @submit.prevent="submitForm" enctype="multipart/form-data">
                <input-field name="name" type="text" label="Bútor neve" placeholder="Név" :errors="errors" @update:field="form.name = $event" />
                <input-field name="price" type="number" label="Ár" placeholder="" :errors="errors" @update:field="form.price = $event" />
                <textarea-field name="desc" label="Leírás" placeholder="Bútor leírás" @update:field="form.desc = $event" />
                <input-field name="long" type="number" label="Hosszúság" placeholder="cm" :errors="errors" @update:field="form.long = $event" />
                <input-field name="height" type="number" label="Magasság" placeholder="cm" :errors="errors" @update:field="form.height = $event" />
                <input-field name="width" type="number" label="Szélesség" placeholder="cm" :errors="errors" @update:field="form.width = $event" />

                <div class="gallery-filler">
                    <div class="gallery-filler__head">
                        <div class="image-counter">Képek</div>
                        <div class="btn btn--primary" @click="addImage">Kép hozzáadása</div>
                    </div>
                    <div class="gallery-filler__item" v-for="image in images">
                        <div class="file-uploader">
                            <img class="file-uploader__img" v-if="image.k" :src="image.k" />
                            <div class="file-uploader__btn" v-else>Kép feltöltés</div>
                            <input class="file-uploader__input" type="file" @change="onFileChange($event, image.id)"/>
                        </div>
                        <div class="btn btn--danger" @click="removeImage(image.id)">Mentés</div>
                    </div>
                </div>

                <div class="form-submit">
                    <button class="form-submit__btn btn btn--primary">Mentés</button>
                    <div class="form-submit__btn btn btn--danger" @click="$router.back()">Mégse</div>
                </div>
            </form>
        </div>
        <div v-if="uploadModal" class="popup-background"/>
        <div v-if="uploadModal" class="popup">
            <div class="popup--header popup--header__primary">
                <div class="popup--icon popup--icon__primary">
                    <svg viewBox="-64 0 512 512" xmlns="http://www.w3.org/2000/svg" class="delete-button--icon">
                        <path d="m58.667969 506.667969c-8.832031 0-16-7.167969-16-16v-100.671875c0-28.671875 12.222656-56.128906 33.535156-75.328125l34.367187-30.933594c8-7.148437 12.375-17.023437 12.375-27.734375s-4.375-20.585938-12.351562-27.753906l-34.390625-30.914063c-21.3125-19.199219-33.535156-46.65625-33.535156-75.328125v-100.671875c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v100.671875c0 19.605469 8.382812 38.402344 22.953125 51.542969l34.367187 30.933594c14.59375 13.121093 22.957031 31.894531 22.957031 51.519531s-8.363281 38.398438-22.933593 51.542969l-34.367188 30.933593c-14.59375 13.117188-22.976562 31.914063-22.976562 51.519532v100.671875c0 8.832031-7.167969 16-16 16zm0 0"/>
                        <path d="m325.332031 506.667969c-8.832031 0-16-7.167969-16-16v-100.671875c0-19.605469-8.382812-38.402344-22.953125-51.542969l-34.367187-30.933594c-14.59375-13.121093-22.957031-31.894531-22.957031-51.519531s8.363281-38.398438 22.933593-51.542969l34.367188-30.933593c14.59375-13.117188 22.976562-31.914063 22.976562-51.519532v-100.671875c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v100.671875c0 28.671875-12.222656 56.128906-33.535156 75.328125l-34.367187 30.933594c-7.980469 7.167969-12.351563 17.023437-12.351563 27.753906 0 10.734375 4.371094 20.589844 12.351563 27.757813l34.367187 30.933594c21.3125 19.15625 33.535156 46.613281 33.535156 75.285156v100.671875c0 8.832031-7.167969 16-16 16zm0 0"/>
                        <path d="m368 32h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/>
                        <path d="m368 512h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/>
                    </svg>
                </div>
                <div class="popup--header-text">Mentés</div>
            </div>
            <div class="popup--body">
                <p>A bútor mentése folyamatban.<br>Kérem várjon.</p>
            </div>
        </div>
    </div>
</template>

<script>
    import InputField from '../components/InputField';
    import TextareaField from '../components/TextareaField';

    export default {
        name: 'FurnituresCreate',

        data() {
            return {
                uploadModal: false,
                images: [],
                form: {
                    'slug_name': '',
                    'name': '',
                    'price': '',
                    'desc': '',
                    'long': '',
                    'height': '',
                    'width': '',
                },
                errors: null,
            };
        },

        methods: {
            onFileChange(e, id) {
                let file = e.target.files[0];
                this.images.find(image => image.id === id).img = file;
                this.images.find(image => image.id === id).k = URL.createObjectURL(file);
            },
            addImage() {
                let addId = 0;

                if (this.images.length !== 0) {
                    addId = this.images[this.images.length - 1].id + 1;
                }

                this.images.push({id: addId, k: null});
            },
            removeImage(id) {
                let removeId;

                this.images.forEach(function (image, index) {
                    if (image.id === id) {
                        removeId = index;
                    }
                });
                this.images.splice(removeId, 1);
            },
            async submitForm() {
                this.uploadModal = true;
                let furniture = await this.storeFurniture();
                
                if (furniture === null) {
                    return;
                }

                for (let i in this.images) {
                    if (this.images[i].k === null) {
                        continue;
                    }

                    let fd = new FormData();
                    fd.append('product_id', furniture.data.furniture_id);
                    fd.append('product', 'furnitures');
                    fd.append('name', furniture.data.slug_name + '-' + this.$generateRandomString(20));
                    fd.append('type', this.images[i].img.name.split('.').pop());

                    await this.storeImages(fd);

                    fd.append('image', this.images[i].img);

                    await this.moveImage(fd);
                }

                this.$router.push(furniture.links.self);
            },
            async storeFurniture() {
                let furniture = null;

                await axios.post('/api/furnitures', this.form)
                    .then(response => {
                        furniture = response.data;
                    }).catch(errors => {
                        this.errors = errors.response.data.errors;
                        this.uploadModal = false;
                    });

                return furniture;
            },
            async storeImages(fd) {
                await axios.post('/api/files', fd)
                    .then(response => {
                    }).catch(errors => {
                        this.uploadModal = false;
                    });
            },
            async moveImage(fd) {
                let config = { headers: { 'Content-Type': 'multipart/form-data' } };
                
                await axios.post('/api/files/upload', fd, config)
                    .then(response => {
                    }).catch(errors => {
                        this.uploadModal = false;
                    });
            }
        },

        computed: {
            name() {
                return this.form.name;
            }
        },

        watch: {
            name(val) {
                this.form.slug_name = this.$slug(val);
            }
        },

        components: {
            InputField,
            TextareaField,
        }
    };
</script>

<style scoped>
</style>