<template>
    <div class="body">
        <div class="view">
            <div class="form-header">
                <button class="btn btn--dark" @click="$router.back()">< Vissza</button>
            </div>
            <form @submit.prevent="submitForm">
                <input-field name="name" type="text" label="Bútor neve" placeholder="Név" :errors="errors" @update:field="form.name = $event" :data="form.name"/>
                <input-field name="price" type="number" label="Ár" placeholder="" :errors="errors" @update:field="form.price = $event" :data="form.price"/>
                <textarea-field name="desc" label="Leírás" placeholder="Bútor leírás" :errors="errors" @update:field="form.desc = $event" :data="form.desc"/>
                <input-field name="long" type="number" label="Hosszúság" placeholder="cm" :errors="errors" @update:field="form.long = $event" :data="form.long"/>
                <input-field name="height" type="number" label="Magasság" placeholder="cm" :errors="errors" @update:field="form.height = $event" :data="form.height"/>
                <input-field name="width" type="number" label="Szélesség" placeholder="cm" :errors="errors" @update:field="form.width = $event" :data="form.width"/>

                <div class="gallery-filler">
                    <div class="gallery-filler__head">
                        <div class="image-counter">Képek</div>
                        <div class="btn btn--primary" @click="addImage">Kép hozzáadása</div>
                    </div>
                    <div class="gallery-filler__item" v-for="image in images" v-if="image.deleted === false">
                        <div class="file-uploader">
                            <img class="file-uploader__img" v-if="image.k" :src="image.k" />
                            <div class="file-uploader__btn" v-else>Kép feltöltés</div>
                            <input class="file-uploader__input" type="file" @change="onFileChange($event, image.id)"/>
                        </div>
                        <div class="btn btn--danger" @click="removeImage(image.id)">Kép törlése</div>
                    </div>
                </div>

                <div class="form-submit">
                    <button class="form-submit__btn btn btn--primary">Mentés</button>
                    <div class="form-submit__btn btn btn--danger" @click="$router.back()">Mégse</div>
                </div>
            </form>
        </div>
        <popup-info v-if="loading" type="wait" header="Betöltés" body="Megjelenítés folyamatban<br>Kérem várjon." />
        <div v-if="uploadModal" class="popup-background"/>
        <div v-if="uploadModal" class="popup">
            <div class="popup--header popup--header__primary">
                <div class="popup--icon popup--icon__primary">
                    <svg viewBox="-64 0 512 512" xmlns="http://www.w3.org/2000/svg" class="delete-button--icon">
                        <path d="m58.667969 506.667969c-8.832031 0-16-7.167969-16-16v-100.671875c0-28.671875 12.222656-56.128906 33.535156-75.328125l34.367187-30.933594c8-7.148437 12.375-17.023437 12.375-27.734375s-4.375-20.585938-12.351562-27.753906l-34.390625-30.914063c-21.3125-19.199219-33.535156-46.65625-33.535156-75.328125v-100.671875c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v100.671875c0 19.605469 8.382812 38.402344 22.953125 51.542969l34.367187 30.933594c14.59375 13.121093 22.957031 31.894531 22.957031 51.519531s-8.363281 38.398438-22.933593 51.542969l-34.367188 30.933593c-14.59375 13.117188-22.976562 31.914063-22.976562 51.519532v100.671875c0 8.832031-7.167969 16-16 16zm0 0"/>
                        <path d="m325.332031 506.667969c-8.832031 0-16-7.167969-16-16v-100.671875c0-19.605469-8.382812-38.402344-22.953125-51.542969l-34.367187-30.933594c-14.59375-13.121093-22.957031-31.894531-22.957031-51.519531s8.363281-38.398438 22.933593-51.542969l34.367188-30.933593c14.59375-13.117188 22.976562-31.914063 22.976562-51.519532v-100.671875c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v100.671875c0 28.671875-12.222656 56.128906-33.535156 75.328125l-34.367187 30.933594c-7.980469 7.167969-12.351563 17.023437-12.351563 27.753906 0 10.734375 4.371094 20.589844 12.351563 27.757813l34.367187 30.933594c21.3125 19.15625 33.535156 46.613281 33.535156 75.285156v100.671875c0 8.832031-7.167969 16-16 16zm0 0"/>
                        <path d="m368 32h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/>
                        <path d="m368 512h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/>
                    </svg>
                </div>
                <div class="popup--header-text">Mentés</div>
            </div>
            <div class="popup--body">
                <p>A bútor mentése folyamatban.<br>Kérem várjon.</p>
            </div>
        </div>
    </div>
</template>

<script>
    import InputField from '../components/InputField';
    import PopupInfo from '../components/PopupInfo';
    import TextareaField from '../components/TextareaField';

    export default {
        name: 'FurnituresEdit',

        data() {
            return {
                loading: true,
                uploadModal: false,
                images: [],
                form: {
                    'slug_name': '',
                    'name': '',
                    'price': '',
                    'desc': '',
                    'long': '',
                    'height': '',
                    'width': '',
                },
                errors: null
            };
        },
        
        async mounted() {
            let furniture = await this.getFurniture();
            let files = await this.getFiles();

            for (let i in files) {
                let file = files[i].data;

                let url = '/images/' + file.product + '/' + file.product_id + '/' + file.name + '.' + file.type;
                this.images.push({id: parseInt(i, 10), k: url, file_id: file.file_id, deleted: false});
            }

            this.form = furniture.data;
            this.loading = false;
        },

        methods: {
            onFileChange(e, id) {
                var file = e.target.files[0];
                this.images.find(image => image.id === id).img = file;
                this.images.find(image => image.id === id).k = URL.createObjectURL(file);
            },
            addImage() {
                var addId = 0;

                if (this.images.length !== 0) {
                    addId = this.images[this.images.length - 1].id + 1;
                }

                this.images.push({id: addId, k: null, file_id: null, deleted: false});
            },
            removeImage(id) {
                var removeId;

                this.images.forEach(function (image, index) {
                    if (image.id === id) {
                        removeId = index;
                    }
                });
                
                this.images[removeId].deleted = true;
//                this.images.splice(removeId, 1);
            },
            async getFurniture() {
                let furniture = null;

                await axios.get('/api/furnitures/' + this.$route.params.id)
                    .then(response => {
                        furniture = response.data;
                    }).catch(errors => {
                        if (errors.response.status == 404) {
                            this.$router.push('/xira/furnitures');
                        }
                    });

                return furniture;
            },
            async getFiles() {
                let files = null;

                await axios.get('/api/files/furniture/' + this.$route.params.id)
                    .then(response => {
                        files = response.data.data;
                    }).catch(errors => {
                        if (errors.response.status == 404) {
                            this.$router.push('/xira/furnitures');
                        }
                    });

                return files;
            },
            async submitForm() {
                this.uploadModal = true;

                let link = await this.updateFurniture();
                
                await this.deleteFiles();
                await this.storeFiles();
                
                if (link === null) {
                    this.uploadModal = false;
                } else {
                    this.$router.push(link);
                }
            },
            async updateFurniture() {
                let link = null;
                
                await axios.patch('/api/furnitures/' + this.$route.params.id, this.form)
                    .then(response => {
                        link = response.data.links.self;
                    }).catch(errors => {
                        this.errors = errors.response.data.errors;
                    });

                return link;
            },
            async deleteFiles() {
                for (let i in this.images) {
                    let file = this.images[i];
                    
                    if (file.file_id !== null && file.deleted === true) {
                        await axios.delete('/api/files/' + file.file_id)
                            .then(response => {
                            }).catch(errors => {
                                this.uploadModal = false;
                            });
                    }
                }
            },
            async storeFiles() {
                for (let i in this.images) {
                    let file = this.images[i];
                    if (file.file_id === null && file.deleted === false && file.k !== null) {
                        let fd = new FormData();
                        fd.append('product_id', this.$route.params.id);
                        fd.append('product', 'furnitures');
                        fd.append('name', this.form.slug_name + '-' + this.$generateRandomString(20));
                        fd.append('type', file.img.name.split('.').pop());
                        
                        await axios.post('/api/files', fd)
                            .then(response => {
                            }).catch(errors => {
                                this.uploadModal = false;
                            });
                        
                        fd.append('image', this.images[i].img);

                        await this.moveImage(fd);
                    }
                }
            },
            async moveImage(fd) {
                let config = { headers: { 'Content-Type': 'multipart/form-data' } };
                
                await axios.post('/api/files/upload', fd, config)
                    .then(response => {
                    }).catch(errors => {
                        this.uploadModal = false;
                    });
            }
        },

        computed: {
            name() {
                return this.form.name;
            }
        },

        watch: {
            name(val) {
                this.form.slug_name = this.$slug(val);
            }
        },

        components: {
            InputField,
            PopupInfo,
            TextareaField,
        }
    };
</script>

<style scoped>
</style>