<template>
    <div class="body">
        <div class="view">
            <div class="form-header">
                <button class="btn btn--dark" @click="$router.back()">< Vissza</button>
                <div class="form-header__right">
                    <router-link :to="{ name: 'furnituresCreate' }" class="btn btn--primary">Új bútor</router-link>
                </div>
            </div>

            <furniture-item v-for="furniture in furnitures" :furniture="furniture.data" :key="furniture.data.furniture_id" />
        </div>
        <popup-info v-if="loading" type="wait" header="Betöltés" body="Megjelenítés folyamatban<br>Kérem várjon." />
    </div>
</template>

<script>
    import FurnitureItem from '../components/FurnitureItem';
    import PopupInfo from '../components/PopupInfo';

    export default {
        name: "FurnituresIndex",
        
        mounted() {
            axios.get('/api/furnitures/')
                    .then(response => {
                        this.furnitures = response.data.data;
                        this.loading = false;
                    }).catch(errors => {
                        this.loading = false;
                        alert('Unable to fetch contacts.');
                    });
        },

        data() {
            return {
                loading: true,
                furnitures: null
            };
        },
        
        components: {
            FurnitureItem,
            PopupInfo
        }
    };
</script>

<style scoped>
</style>