<template>
    <div class="screen">
        <div class="nav">
            <router-link to="/xira/furnitures" class="nav__item">
                <svg viewBox="0 0 512 512" class="nav__item__icon">
                <path d="M486.625,191.23h-10.172v-37.805c0-22.349-18.182-40.531-40.531-40.531H289.031c-13.617,0-25.678,6.757-33.031,17.086
                      c-7.353-10.33-19.414-17.086-33.031-17.086h-92.282c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5h92.282
                      c14.078,0,25.531,11.453,25.531,25.531v75.01c-0.157-0.151-0.323-0.292-0.482-0.441c-8.89-8.289-20.939-13.067-33.101-13.067
                      H89.989C89.328,204.857,82.463,196,72.99,192.642c-2.669-0.946-5.491-1.412-8.322-1.412H50.547v-37.805
                      c0-14.078,11.453-25.531,25.531-25.531h24.609c4.142,0,7.5-3.358,7.5-7.5c0-4.142-3.358-7.5-7.5-7.5H76.078
                      c-22.349,0-40.531,18.182-40.531,40.531v37.805H25.375C11.383,191.23,0,202.615,0,216.605v78.311
                      c0,29.138,23.706,52.844,52.844,52.844h3.769c0,0-8.212,22.088-8.218,22.105c-5.181,13.934,5.483,29.241,20.325,29.241h12.066
                      c6.754,0,13.219-3.216,17.294-8.603l32.331-42.743h251.18l32.331,42.744c4.075,5.386,10.54,8.602,17.293,8.602
                      c0,0,12.058,0,12.065,0c14.86,0,25.505-15.31,20.325-29.241l-8.219-22.105h3.77c29.138,0,52.844-23.706,52.844-52.844v-78.311
                      C512,202.615,500.617,191.23,486.625,191.23z M263.5,153.427c0-14.079,11.453-25.532,25.531-25.532h146.891
                      c14.078,0,25.531,11.453,25.531,25.531v37.805c0,0-14.117,0-14.122,0c-9.972,0-19.538,6.4-23.406,15.582
                      c-1.083,2.571-1.732,5.333-1.914,8.116c0,0-124.924,0-124.928,0c-12.35,0-24.659,4.969-33.583,13.508V153.427z M90.044,229.928
                      h124.873c18.518,0.001,33.583,15.066,33.583,33.584v10.665H90.044V229.928z M86.117,381.454c-1.256,1.661-3.25,2.652-5.332,2.652
                      c0,0-12.024,0-12.066,0c-4.592,0-7.865-4.711-6.265-9.013l10.162-27.333h38.986L86.117,381.454z M443.28,384.105h-12.065
                      c-2.082,0-4.075-0.991-5.331-2.651l-25.486-33.694h38.986c0,0,10.127,27.237,10.162,27.332
                      C451.149,379.404,447.853,384.105,443.28,384.105z M459.156,332.76H52.844C31.977,332.761,15,315.783,15,294.916v-78.311
                      c0-5.721,4.654-10.375,10.375-10.375h39.293c5.721,0,10.375,4.654,10.375,10.375v65.071c0,4.142,3.358,7.5,7.5,7.5H358.02
                      c4.142,0,7.5-3.358,7.5-7.5c0-4.142-3.358-7.5-7.5-7.5H263.5v-10.665c0-18.518,15.065-33.583,33.583-33.583h124.873v44.249H388.02
                      c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5h41.436c4.142,0,7.5-3.358,7.5-7.5v-65.071
                      c0-5.721,4.654-10.375,10.375-10.375h39.293c5.721,0,10.375,4.654,10.375,10.375v78.31H497
                      C497,315.783,480.023,332.76,459.156,332.76z"/>
                </svg>
                <div class="nav__item__label">Bútor lista</div>
            </router-link>
            <router-link to="/xira/contacts" class="nav__item">
                <svg viewBox="0 0 60 60" class="nav__item__icon">
                <path d="M48.014,42.889l-9.553-4.776C37.56,37.662,37,36.756,37,35.748v-3.381c0.229-0.28,0.47-0.599,0.719-0.951
	c1.239-1.75,2.232-3.698,2.954-5.799C42.084,24.97,43,23.575,43,22v-4c0-0.963-0.36-1.896-1-2.625v-5.319
	c0.056-0.55,0.276-3.824-2.092-6.525C37.854,1.188,34.521,0,30,0s-7.854,1.188-9.908,3.53C17.724,6.231,17.944,9.506,18,10.056
	v5.319c-0.64,0.729-1,1.662-1,2.625v4c0,1.217,0.553,2.352,1.497,3.109c0.916,3.627,2.833,6.36,3.503,7.237v3.309
	c0,0.968-0.528,1.856-1.377,2.32l-8.921,4.866C8.801,44.424,7,47.458,7,50.762V54c0,4.746,15.045,6,23,6s23-1.254,23-6v-3.043
	C53,47.519,51.089,44.427,48.014,42.889z M51,54c0,1.357-7.412,4-21,4S9,55.357,9,54v-3.238c0-2.571,1.402-4.934,3.659-6.164
	l8.921-4.866C23.073,38.917,24,37.354,24,35.655v-4.019l-0.233-0.278c-0.024-0.029-2.475-2.994-3.41-7.065l-0.091-0.396l-0.341-0.22
	C19.346,23.303,19,22.676,19,22v-4c0-0.561,0.238-1.084,0.67-1.475L20,16.228V10l-0.009-0.131c-0.003-0.027-0.343-2.799,1.605-5.021
	C23.253,2.958,26.081,2,30,2c3.905,0,6.727,0.951,8.386,2.828c1.947,2.201,1.625,5.017,1.623,5.041L40,16.228l0.33,0.298
	C40.762,16.916,41,17.439,41,18v4c0,0.873-0.572,1.637-1.422,1.899l-0.498,0.153l-0.16,0.495c-0.669,2.081-1.622,4.003-2.834,5.713
	c-0.297,0.421-0.586,0.794-0.837,1.079L35,31.623v4.125c0,1.77,0.983,3.361,2.566,4.153l9.553,4.776
	C49.513,45.874,51,48.28,51,50.957V54z"/>
                </svg>
                <div class="nav__item__label">Felhasználók</div>
            </router-link>
            <router-link :to="{name: 'logout'}" class="nav__item">
                <svg viewBox="0 0 512 512" class="nav__item__icon">
                <path d="M330.667,384h-21.333c-5.891,0-10.667,4.776-10.667,10.667v74.667h-256V42.667h256v74.667
                      c0,5.891,4.776,10.667,10.667,10.667h21.333c5.891,0,10.667-4.776,10.667-10.667V42.667C341.333,19.103,322.231,0,298.667,0h-256
                      C19.103,0,0,19.103,0,42.667v426.667C0,492.898,19.103,512,42.667,512h256c23.564,0,42.667-19.102,42.667-42.667v-74.667
                      C341.333,388.776,336.558,384,330.667,384z"/>
                <path d="M508.542,248.135l-128-117.333c-3.125-2.844-7.656-3.625-11.5-1.896c-3.875,1.698-6.375,5.531-6.375,9.76V160
                      c0,3.021,1.281,5.906,3.531,7.927l74.151,66.74H138.667c-5.896,0-10.667,4.771-10.667,10.667v21.333
                      c0,5.896,4.771,10.667,10.667,10.667h301.682l-74.151,66.74c-2.25,2.021-3.531,4.906-3.531,7.927v21.333
                      c0,4.229,2.5,8.063,6.375,9.76c1.375,0.615,2.844,0.906,4.292,0.906c2.615,0,5.198-0.969,7.208-2.802l128-117.333
                      C510.75,261.844,512,258.99,512,256S510.75,250.156,508.542,248.135z"/>
                </svg>
                <div class="nav__item__label">Kilépés</div>
            </router-link>
        </div>
        <div class="body">
            <div class="app-header">
                <div class="app-header__title">{{ title }}</div>
                <user-circle :name="user.name" />
            </div>
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import UserCircle from '../components/UserCircle';

    export default {
        name: 'App',

        props: ['user'],
        
        created() {
            this.title = this.$route.meta.title;
            window.axios.interceptors.request.use(
                (config) => {
                    if (config.method === 'get') {
                        config.url = config.url + '?api_token=' + this.user.api_token
                    } else if (config.method === 'post' && config.url === '/api/files/upload' || config.url === '/api/files') {
                        config.data.append('api_token', this.user.api_token);
                    } else {
                        config.data = {
                            ...config.data,
                            api_token: this.user.api_token
                        };
                    }
                    return config;
                }
            );
        },
        
        data() {
            return {
                title: ''
            }
        },
        
        watch: {
            $route(to, from) {
                this.title = to.meta.title;
            },
            
            title() {
                document.title = 'XIRA | ' + this.title
            }
        },
        
        components: {
            UserCircle
        }
    };
</script>

<style scoped>
</style>