<template>
    <div class="app-header">
        <div class="app-header__title">{{ status }}</div>
        <div class="user-circle" name="user.name"/>
    </div>
</template>

<script>
    import UserCircle from '../components/UserCircle';
    
    export default {
        name: "AppHeader",

        props: ["status"],
        
        components: {
            UserCircle
        }
    };
</script>

<style scoped>
</style>