<template>
    <label class="checkbox-field">
        {{ label }}
        <input type="checkbox" class="checkbox-field__input" :name="name" v-model="value" @input="updateField()"/>
        <span class="checkbox-field__checkmark"></span>
    </label>
</template>

<script>
    export default {
        name: 'CheckboxField',

        props: ['name', 'label', 'data'],

        data() {
            return {
                value: 0
            }
        },

        methods: {
            updateField() {
                if (this.value === 1 || this.value === true) {
                    this.value = 0;
                } else if (this.value === 0 || this.value === false) {
                    this.value = 1;
                }
                this.$emit('update:field', this.value);
            }
        },

        watch: {
            data(val) {
                this.value = val;
            }
        }
    };
</script>

<style scoped>
</style>