<template>
    <div class="list-item">
        <div class="list-item--inline">
            <user-circle class="list-item--inline" :name="contact.name" />
            <div class="list-item--text list-item--inline">{{ contact.name }}</div>
        </div>
        <view-button :link="link" />
    </div>
</template>

<script>
    import UserCircle from '../components/UserCircle';
    import ViewButton from '../components/ViewButton';

    export default {
        name: "ContactItem",

        data() {
            return {
                link: {
                    name: 'contactsShow',
                    params: {
                        id: this.contact.contact_id
                    }
                }
            }
        },

        props: ['contact'],

        components: {
            UserCircle,
            ViewButton
        }
    }
</script>

<style scoped>
</style>