<template>
    <div class="file-uploader">
        <button class="file-uploader__btn">Kép feltöltés</button>
        <input class="file-uploader__input" type="file" :name="name" :id="name" title=""/>
    </div>
</template>

<script>
    export default {
        name: "FileUploader",
        
        props: ["name"]
    };
</script>

<style scoped>
</style>