<template>
    <div class="list-item">
        <div class="list-item--inline list-item--text">
            {{ furniture.name }} | {{ this.$priceFormat(furniture.price) }}
        </div>
        <view-button :link="link" />
    </div>
</template>

<script>
    import ViewButton from '../components/ViewButton';

    export default {
        name: "FurnitureItem",
        
        data() {
            return {
                link: {
                    name: 'furnituresShow',
                    params: {
                        id: this.furniture.furniture_id
                    }
                }
            }
        },
        
        props: ['furniture'],

        components: {
            ViewButton
        }
    }
</script>

<style scoped>
</style>