<template>
    <div class="gallery-filler__item" v-for="image in images">
        <div class="file-uploader">
            <img class="file-uploader__img" v-if="url" :src="url" />
            <button class="file-uploader__btn" v-else>{{ image.id }} Kép feltöltés</button>
            <input class="file-uploader__input" type="file" @change="onFileChange($event, image.id)"/>
        </div>
        <button class="btn btn--danger" @click="removeImage(image.id)">Kép törlése</button>
    </div>
</template>

<script>
    export default {
        name: "GalleryFillerItem",
        
        props: ["id"],

        data() {
            return {
                images: [],
                url: null,
            };
        },

        methods: {
            onFileChange(e, id) {
                var file = e.target.files[0];
                this.url = URL.createObjectURL(file);
            },
            addImage() {
                var addId = 0;

                if (this.images.length !== 0) {
                    addId = this.images[this.images.length - 1].id + 1;
                }

                this.images.push({id: addId, k: null});
            },
            removeImage(id) {
                var removeId;

                this.images.forEach(function (image, index) {
                    if (image.id === id) {
                        removeId = index;
                    }
                });
                this.images.splice(removeId, 1);
            }
        }
    };
</script>

<style scoped>
</style>