<template>
    <div class="input-field">
        <label :for="name" class="input-field__label">{{ label }}</label>
        <input :id="name" :type="type" class="input-field__input" :placeholder="placeholder" v-model="value" :class="errorClassObject()" @input="updateField()"/>
        <p class="input-field__error" v-text="errorMessage()">error here</p>
    </div>
</template>

<script>
    export default {
        name: 'InputField',

        props: ['name', 'type', 'label', 'placeholder', 'errors', 'data'],
        
        data() {
            return {
                value: ''
            }
        },
        
        computed: {
            hasError: function () {
                return this.errors && this.errors[this.name] && this.errors[this.name].length > 0;
            }
        },
        
        methods: {
            updateField() {
                this.clearErrors(this.name);
                this.$emit('update:field', this.value);
            },
            
            clearErrors() {
                if (this.hasError) {
                    this.errors[this.name] = null;
                }
            },
            
            errorClassObject() {
                return {
                    'error-field': this.hasError
                }
            },

            errorMessage() {
                const requiredReg = /^The ([a-zA-z0-9_]*) field is required.$/;
                
                if (this.hasError) {
                    if (requiredReg.exec(this.errors[this.name][0])) {
                        return 'Kötelező mező';
                    } else {
                        return 'Hibás mező';
                    }
                }
            }
        },
        
        watch: {
            data(val) {
                this.value = val;
            }
        }
    };
</script>

<style scoped>
</style>