<template>
    <div>
        <div class="popup-background"/>
        <div class="popup">
            <div class="popup--header popup--header__primary">
                <div class="popup--icon popup--icon__primary">
                    <svg v-if="type === 'wait'" viewBox="-64 0 512 512" xmlns="http://www.w3.org/2000/svg" class="delete-button--icon">
                        <path d="m58.667969 506.667969c-8.832031 0-16-7.167969-16-16v-100.671875c0-28.671875 12.222656-56.128906 33.535156-75.328125l34.367187-30.933594c8-7.148437 12.375-17.023437 12.375-27.734375s-4.375-20.585938-12.351562-27.753906l-34.390625-30.914063c-21.3125-19.199219-33.535156-46.65625-33.535156-75.328125v-100.671875c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v100.671875c0 19.605469 8.382812 38.402344 22.953125 51.542969l34.367187 30.933594c14.59375 13.121093 22.957031 31.894531 22.957031 51.519531s-8.363281 38.398438-22.933593 51.542969l-34.367188 30.933593c-14.59375 13.117188-22.976562 31.914063-22.976562 51.519532v100.671875c0 8.832031-7.167969 16-16 16zm0 0"/>
                        <path d="m325.332031 506.667969c-8.832031 0-16-7.167969-16-16v-100.671875c0-19.605469-8.382812-38.402344-22.953125-51.542969l-34.367187-30.933594c-14.59375-13.121093-22.957031-31.894531-22.957031-51.519531s8.363281-38.398438 22.933593-51.542969l34.367188-30.933593c14.59375-13.117188 22.976562-31.914063 22.976562-51.519532v-100.671875c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v100.671875c0 28.671875-12.222656 56.128906-33.535156 75.328125l-34.367187 30.933594c-7.980469 7.167969-12.351563 17.023437-12.351563 27.753906 0 10.734375 4.371094 20.589844 12.351563 27.757813l34.367187 30.933594c21.3125 19.15625 33.535156 46.613281 33.535156 75.285156v100.671875c0 8.832031-7.167969 16-16 16zm0 0"/>
                        <path d="m368 32h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/>
                        <path d="m368 512h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/>
                    </svg>
                </div>
                <div class="popup--header-text">{{ header }}</div>
            </div>
            <div class="popup--body">
                <p v-html="body" />
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'PopuoInfo',

        props: ['type', 'header', 'body'],
    }
</script>

<style scoped>
</style>