<template>
    <div class="read-only-field">
        <div class="read-only-field__label">{{ label }}</div>
        <div class="read-only-field__value" v-html="value"></div>
    </div>
</template>

<script>
    export default {
        name: 'ReadOnlyField',
        
        props: ['label', 'value'],
    };
</script>