<template>
    <div class="textarea-field">
        <label :for="name" class="textarea-field__label">{{ label }}</label>
        <textarea :id="name" class="textarea-field__input" :placeholder="placeholder" rows="6" v-model="value" @input="updateField()"/>
    </div>
</template>

<script>
    export default {
        name: 'TextareaField',

        props: ['name', 'label', 'placeholder', 'rows', 'data'],

        data() {
            return {
                value: ''
            }
        },

        methods: {
            updateField() {
                this.$emit('update:field', this.value);
            },
        },

        watch: {
            data(val) {
                this.value = val;
            }
        }
    };
</script>

<style scoped>
</style>