<template>
    <div class="user-circle">{{ userCircle }}</div>
</template>

<script>
    export default {
        name: 'UserCircle',
        
        props: [
            'name',
        ],

        computed: {
            userCircle() {
                return this.name.match(/[A-Z]/g).slice(0, 2).join('');
            }
        }
    }
</script>

<style scoped>
</style>