<template>
    <router-link class="view-button" :to="link">
        <svg viewBox="0 0 513.28 513.28" xmlns="http://www.w3.org/2000/svg" class="view-button--icon">
            <path
                d="M495.04,404.48L410.56,320c15.36-30.72,25.6-66.56,25.6-102.4C436.16,97.28,338.88,0,218.56,0S0.96,97.28,0.96,217.6
                s97.28,217.6,217.6,217.6c35.84,0,71.68-10.24,102.4-25.6l84.48,84.48c25.6,25.6,64,25.6,89.6,0
                C518.08,468.48,518.08,430.08,495.04,404.48z M218.56,384c-92.16,0-166.4-74.24-166.4-166.4S126.4,51.2,218.56,51.2
                s166.4,74.24,166.4,166.4S310.72,384,218.56,384z" />
        </svg>
    </router-link>
</template>

<script>
    export default {
        name: "ViewButton",
        
        props: ['link']
    }
</script>

<style scoped>
</style>