$color-bgcolor: #ebedee;
$color-white: #ffffff;
$color-light-gray: #46515f;
$color-dark-gray: #3f4a58;
$color-light-green: #a9d96c;
$color-dark-green: #99c262;
$color-light-blue: #41cac0;
$color-dark-blue: #39b7ac;
$color-light-red: #ff6d60;
$color-dark-red: #e46054;